@import "tailwindcss";

@theme {
  --color-charcoal-dark: #28292e;
  --color-charcoal-card: #28292e;
}

.bg-charcoal {
  background-color: #28292e;
}

.border-charcoal {
  border-color: #28292e;
}

.bg-transparent-0 {
  background-color: #00000000;
}
